.List {
  min-height: 300px;
}

.List,
.Child {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Child {
  display: none;
}

.expanded > .Child {
  display: block;
}

.List .icon {
  padding-left: 12px;
}

/* @todo: The following styles are not extensible. Need to replace */
.Child .icon {
  padding-left: 24px;
}

.Child .Child .icon {
  padding-left: 48px;
}

.Child .Child .Child .icon {
  padding-left: 72px;
}

.Child .Child .Child .Child .icon {
  padding-left: 96px;
}