.List {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Child {
  display: none;
}

.expanded > .Child {
  display: block;
}

/* @todo: The following styles are not extensible */
.List.Child button {
  padding-left: 24px;
}

.List.Child .Child button {
  padding-left: 48px;
}

.List.Child .Child .Child button {
  padding-left: 72px;
}

.List.Child .Child .Child .Child button {
  padding-left: 96px;
}