.folder.selected,
.file.selected {
  color: #000;
  background-color: #85f442;
}

.folder:hover,
.file:hover {
  color: #fff;
  background-color: #4285f4;
}

.folder .icon::before,
.folder button::before,
.private.folder button::before,
.file button::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/icon-sprite.png);
}

.folder .icon::before {
  margin: -2px 4px;
  opacity: 0.3;
}

.folder button::before,
.private.folder button::before,
.file button::before {
  margin: -2px 8px -2px 4px;
}

.folder .icon::before {
  background-position: -168px 0px;
}

.folder .expanded.icon::before {
  background-position: -182px 0px;
}

.folder button::before, {
  background-position: -111px 0px;
}

.private.folder button::before {
  background-position: -126px 0px;
}

.file button::before {
  background-position: -140px 0px;
}