.Item button {
  -webkit-appearance: none;
  padding: 8px 0;
  max-width: 100%;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  font-size: 12px;
  color: #444;
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Item button:hover,
.Item button:focus {
  outline: 0;
  border: 0;
}

.Item button:hover {
  color: #fff;
}

.Item button span {
  display: inline-block;
  vertical-align: top;
}

.Item .folder.selected,
.Item .file.selected {
  color: #000;
  background-color: #85f442;
}

.Item .folder:hover,
.Item .file:hover {
  color: #fff;
  background-color: #4285f4;
}

.Item .folder .icon::before,
.Item .folder button::before,
.Item .private.folder button::before,
.Item .file button::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(/icon-sprite.png);
}

.Item .folder .icon::before {
  margin: -2px 4px;
  opacity: 0.3;
}

.Item .folder button::before,
.Item .private.folder button::before,
.Item .file button::before {
  margin: -2px 8px -2px 4px;
}

.Item .folder .icon::before {
  background-position: -168px 0px;
}

.Item.expanded > .folder .icon::before {
  background-position: -182px 0px;
}

.Item .folder button::before, {
  background-position: -111px 0px;
}

.Item .private.folder button::before {
  background-position: -126px 0px;
}

.Item .file button::before {
  background-position: -140px 0px;
}