.CloseButton {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  height: 15px;
  background: url(/icon-sprite.png);
  background-position: -42px 0px;
  opacity: 0.3;
  cursor: pointer;
}
