.Footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-top: 1px solid #ccc;
  font-size: 12px;
}

.Footer .link,
.Footer .button {
  -webkit-appearance: none;
  margin: 10px;
  border: 0;
}

.Footer .link {
  color: #4285f4;
}

.Footer .button {
  padding: 8px 12px;
  background-color: #4285f4;
  border-radius: 2px; 
  color: #fff;
}
